.banner-slick {
  .slick-prev:before,
  .slick-next:before {
    color: orange !important;
  }

  .slick-dots li.slick-active button:before {
    color: orange;
  }
  .slick-dots li button:before {
    font-size: 10px;
  }

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
}

.banner-card {
  position: relative;

  .banner-caption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    bottom: 0;
    color: #f4f4f4;
    padding: 0.5rem;
    font-size: 18px;
  }
}
