.checkout-container {
  .checkout-form {
    background: #fff;
    padding: .6rem 3rem;
  }
}

@media screen and (min-width: 768px) {
  .checkout-container {
    .checkout-form {
      padding: .6rem 5.5rem;
    }
  }
}

@media screen and (min-width: 991px) {
  .checkout-container {
    .checkout-form {
      padding: 1rem 8.5rem;
    }
  }
}
