.gallery {
  --s: 350px;
  --g: 10px;
  display: flex;
  justify-content: center;
  align-items: center;


  & > img {
    width: var(--s);
    aspect-ratio: 1.15;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  }
}

.banner__text .ant-typography {
  text-align: center;
  line-height: 1.2;
  // font-size: 40;
  font-size: 30px;
}
.banner__text {
  margin-top: 150px;
}

@media screen and (min-width: 768px) {
  .banner__text {
    margin-top: auto;
  }

  .banner__text .ant-typography {
    font-size: 40px;
    line-height: 1.5;
  }

  .gallery {
    // fix overflow
    margin-top: auto;
  }
}
